{% load rest_framework %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href={% static 'css/App.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/footer/style.css' %}>


    <!-- <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet"> -->
    <link href={% static 'css/fontawesome-all.min.css' %} rel="stylesheet">
    <link href={% static 'css/swiper.css' %} rel="stylesheet">
    <link href={% static 'css/styles.css' %} rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/App.css' %}>
    <!-- SEO Meta Tags -->
    <!-- <meta name="BlogIt" content="Blogging Web Application">
            <meta name="Keder" content="Keder Nath Mallick"> -->


            <!-- Webpage Title -->
            <title>
                {% block title %}
                {% endblock title %}
            </title>

            {% block headcontent %}
            {% endblock headcontent %}
            
            
            <!-- Favicon  -->
            <link rel="icon" href={% static 'images/favicon.png' %}>
    </head>
<body style="background-color: #f5f5f5;">
    <div class="container-fluid"  style="overflow: auto;">
        <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light shadow pt-1" aria-label="Main navigation">
            <div class="container-fluid">

                <!-- Image Logo --> 
                <a class="navbar-brand logo-image" href={% url 'homePage' %}><img src={% static 'images/favicon.png' %} style="width:2rem;"></a>
    
                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav navbar-nav-scroll ml-auto">
                        {% if is_authenticated %}
                            {% block showuser %}
                            {% endblock showuser %}
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                                <a href="{% block btnurl %} {% endblock %}" class=" btn btn-outline-primary px-3 m-1" style="text-decoration:none;" role="button" >{% block btnname %}{% endblock btnname %}</a>
                            </li> 
                            <li class="nav-item" >
                                <a href={%url 'logout' %} class="btn btn-outline-danger px-3 m-1" style="text-decoration:none;" role="button">LogOut</a>
                            </li>
                        {% else %}
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                            <a href={%url 'register' %} class="btn btn-outline-primary px-3 m-1" style="text-decoration:none;" role="button" >Signup</a>
                            </li>
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                                <a href={%url 'login' %} class="btn btn-outline-success px-3 m-1" style="text-decoration:none;" role="button" >Login</a>
                            </li>
                        {% endif %}
                    </ul> 
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav>
        
    </div>
    <br>
    <br>
    {% block content %}

    {% endblock %}
    <br>
  
    <footer class="footer-08">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-md-9 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">About us</h2>
                            <p>We are Sudoers, a passionate team of three members focused on developing software based solutions for various problems</p>
                            <ul class="ftco-footer-social p-0">
                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><svg xmlns="http://www.w3.org/2000/svg" data-name="Ebene 1" viewBox="0 0 1024 1024"><path fill="#1877f2" d="M1024,512C1024,229.23016,794.76978,0,512,0S0,229.23016,0,512c0,255.554,187.231,467.37012,432,505.77777V660H302V512H432V399.2C432,270.87982,508.43854,200,625.38922,200,681.40765,200,740,210,740,210V336H675.43713C611.83508,336,592,375.46667,592,415.95728V512H734L711.3,660H592v357.77777C836.769,979.37012,1024,767.554,1024,512Z"/><path fill="#fff" d="M711.3,660,734,512H592V415.95728C592,375.46667,611.83508,336,675.43713,336H740V210s-58.59235-10-114.61078-10C508.43854,200,432,270.87982,432,399.2V512H302V660H432v357.77777a517.39619,517.39619,0,0,0,160,0V660Z"/></svg></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#03A9F4" d="M16 3.539a6.839 6.839 0 0 1-1.89.518 3.262 3.262 0 0 0 1.443-1.813 6.555 6.555 0 0 1-2.08.794 3.28 3.28 0 0 0-5.674 2.243c0 .26.022.51.076.748a9.284 9.284 0 0 1-6.761-3.431 3.285 3.285 0 0 0 1.008 4.384A3.24 3.24 0 0 1 .64 6.578v.036a3.295 3.295 0 0 0 2.628 3.223 3.274 3.274 0 0 1-.86.108 2.9 2.9 0 0 1-.621-.056 3.311 3.311 0 0 0 3.065 2.285 6.59 6.59 0 0 1-4.067 1.399c-.269 0-.527-.012-.785-.045A9.234 9.234 0 0 0 5.032 15c6.036 0 9.336-5 9.336-9.334 0-.145-.005-.285-.012-.424A6.544 6.544 0 0 0 16 3.539z"/></svg></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Linked in"><svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 72 72"><g fill="none" fill-rule="evenodd"><rect width="72" height="72" fill="#117EB8" rx="4"/><path fill="#FFF" d="M13.139 27.848h9.623V58.81h-9.623V27.848zm4.813-15.391c3.077 0 5.577 2.5 5.577 5.577 0 3.08-2.5 5.581-5.577 5.581a5.58 5.58 0 1 1 0-11.158zm10.846 15.39h9.23v4.231h.128c1.285-2.434 4.424-5 9.105-5 9.744 0 11.544 6.413 11.544 14.75V58.81h-9.617V43.753c0-3.59-.066-8.209-5-8.209-5.007 0-5.776 3.911-5.776 7.95V58.81h-9.615V27.848z"/></g></svg></a></li>
                </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-9">
                                    <div class="row">
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Members</h2>
                                            <ul class="list-unstyled">
                                <li><a href="http://keder-nath-mallick.netlify.app/" class="py-1 d-block">Keder Nath Mallick</a></li>
                                <li><a href="https://purnadip-manna.github.io/" class="py-1 d-block">Purnadip Manna</a></li>
                                <li><a href="https://arghyasahoo.netlify.app/" class="py-1 d-block">Arghya Sahoo</a></li>
                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <div class="col-md-12">
                            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<p style="color: #00B7C5">Sudoers</p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
                    <h2 class="footer-heading footer-heading-white">Contact us</h2>
                    <form action="#" class="contact-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
        </div>
        <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control submit px-3">Send</button>
        </div>
        </form>
                </div>
            </div>
        </div>
    </footer>


<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

    <script>
        $(document).on('submit', "#contactForm", function (event) {
            submitFormcont();
            event.preventDefault();
            return false;
        });
        function submitFormcont() {
            $('#contact-modal').removeClass("show");
            $('#contact-modal').css("display", "none");
            $("body").removeClass("modal-open");
            $(".modal-backdrop").remove();
            // console.log($('form#contactForm').serialize());
            $.ajax({
                type: "POST",
                url: "{% url 'contact' %}",
                cache: false,
                data: $('form#contactForm').serialize(),
                success: function (response) {
                    // $("#contact").html(response)
                    // $("#contact-modal").modal('hide');
                },
                error: function () {
                    alert("Error");
                }
            });
        }
    </script>
    <!-- </div> -->

    <button onclick="topFunction()" id="myBtn">
        <img src={% static 'images/up-arrow.png' %} alt="alternative">
    </button>
    <!-- <script src={% static  '/js/bootstrap.min.js' %}  type="text/javascript"></script> Bootstrap framework -->
    <script src={% static 'js/swiper.min.js' %} type="text/javascript"></script>
    <!-- Swiper for image and text sliders -->
    <!--  <script src={% static 'js/purecounter.min.js' %} type="text/javascript"></script> Purecounter counter for statistics numbers -->
    <!-- <script src={% static 'js/isotope.pkgd.min.js' %} type="text/javascript"></script> Isotope for filter -->
    <script src={% static 'js/scripts.js' %} type="text/javascript"></script>
</body>

</html>