{% extends 'Basepage.html' %}  
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid mx-auto pt-5 py-2 ml-5">
        <form action={%url 'contact'%} method="POST">
            <div class="form-body">
                <div class="row">
                    <div class="form-holder">
                        <div class="form-content">
                            <div class="form-items">
                                <form class="requires-validation" novalidate>
                                    
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                                        <div class="valid-feedback">Username field is valid!</div>
                                        <div class="invalid-feedback">Username field cannot be blank!</div>
                                    </div>
        
                                    <div class="col-md-12">
                                        <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                                        <div class="valid-feedback">Email field is valid!</div>
                                        <div class="invalid-feedback">Email field cannot be blank!</div>
                                    </div>
        
                                    
                                    <div class="col-md-12">
                                        <textarea class="form-control" placeholder="Put your comment" required>
                                            </textarea>
                                            <div class="invalid-feedback">text field cannot be blank!</div>
                                    </div>
            
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                        <label class="form-check-label">I confirm that all data are correct</label>
                                        <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                                    </div>
                        
        
                                    <div class="form-button mt-3">
                                        <button id="submit" type="submit" class="btn btn-primary">Contact</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
{%endblock%}