{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Dashboard{% endblock title %}

{% block showuser %}
<li class="nav-item">
  <button class="btn btn-outline-dark px-3 m-1" style="text-decoration:none;" disabled>
    <img class="rounded-circle mr-1" width="22px" src={{ profile_pic_url }} style="border: 1px solid black; padding:2px;">
    {{ user_name }}
  </button>
</li>
{% endblock showuser %}

{% block btnurl %}
  {% url 'profile' %}
{% endblock %}

{% block btnname %}My Profile{% endblock btnname %}

{% block headcontent %}
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">
    </script>
 
    <!-- Include Moment.js CDN -->
    <script type="text/javascript" src=
"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
    </script>
 
    <!-- Include Bootstrap DateTimePicker CDN -->
    <link
        href=
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet">
 
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
        </script>
<style>
  a {
    text-decoration: none;
  }

  .add {
    padding-top: 13%;
    padding-bottom: 13%;
    margin: auto;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  .overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }
</style>

<script>
  function saveExamName(){
    var userId = "{{ user_id }}";
    var examName = document.getElementById("examName").value;
    var topicName = document.getElementById("topicName").value;
    var examDetails = document.getElementById("examDetails").value;
    var hr =  document.getElementById("hr").value;
    var min =  document.getElementById("min").value;
    
    if(examName === "" || topicName === "")
      alert("Exam Name and Subject name is required!");

    else{
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
        let flag = this.responseText;
        if(flag === '1')
          window.location.href = "{% url 'setquestion' %}";
        else
          alert("Exam cannot be created!");
      }
      xhttp.open("POST", "{% url 'saveExamName' %}");
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("user_id="+userId+"&exam_name="+examName+"&topic="+topicName+"&exam_details="+examDetails+"&hr="+hr+"&min="+min);
    }

  }
</script>

{% endblock headcontent %}

{% block content %}
  <div class="overlay" id="loadingImg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(241, 242, 243); display: block; shape-rendering: auto; margin-top:15%;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <g transform="rotate(0 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(30 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(60 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(90 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(120 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(150 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(180 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(210 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(240 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(270 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(300 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
        </rect>
      </g><g transform="rotate(330 50 50)">
        <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#1d3f72">
          <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
        </rect>
      </g>
      <!-- [ldio] generated by https://loading.io/ -->
    </svg>
  </div>
  <div class="container">
    <br>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Exam Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="examName">Exam Name:</label>
                  <input type="text" class="form-control" id="examName" required>
                </div>
                <div class="col">
                  <label for="topicName">Subject / Topic: </label>
                  <input type="text" class="form-control" id="topicName" required>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="duration">Hours: </label>
                  <input type="text" class="form-control" id="hr" placeholder="HH" required>
                </div>
                <div class="col">
                  <label for="duration">Minutes: </label>
                  <input type="text" class="form-control" id="min" placeholder="MM" required>
                </div>
              </div>
              <label for="examDetails">Exam Details:</label>
              <textarea class="form-control" id="examDetails" rows="3"></textarea>
            </div>
          </div>
          <p align="center">
            <button type="button" class="btn btn-primary" onclick="saveExamName()">Enter</button>
          </p>
        </div>
      </div>
    </div>

    <h2>Examinations</h2>
    <div class="row">
      <div class="col-sm-4 wrapper">
        <div class="card mb-4 shadow" style="width: 20rem;">
          <div class="card-body add">
            <button class="btn" data-toggle="modal" data-target="#exampleModal">
              <img
                src="https://img.icons8.com/external-bearicons-blue-bearicons/128/000000/external-plus-essential-collection-bearicons-blue-bearicons.png" />
            </button>
          </div>
        </div>
      </div>
      {% for i in exam %}
      <div class="col-sm-4 wrapper">
        <div class="card mb-4 shadow" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">{{ i.exam_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ i.course }}</h6>
            <p class="card-text">
              Full Marks: {{ i.marks }}<br>
              Duration: {{ i.duration }}<br>
              Description: {{ i.description }}
            </p>
            {% if i.editable is True %}
              <a href={% url 'setquestion' %} class="btn btn-warning float-left" role="button">Edit</a>
            {% endif %}
            {% if i.is_evaluated is False %}
              <button class="btn btn-info float-right" onclick="eval({{ i.id }})">Evaluate</button>
            {% else %}
              <a href="{% url 'view_all_results' %}?exam_id={{ i.id }}"class="btn btn-info float-right" role="button">View Results</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
    localStorage.clear();
    function eval(exam_id){
      document.getElementById("loadingImg").style.display = "block";
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
        let flag = this.responseText;
        if(flag === '1'){
          document.getElementById("loadingImg").style.display = "none";
          location.reload();
        }
        else
          alert("Error in evaluation!");
      }
      xhttp.open("GET", "{% url 'eval_exam' %}?exam_id="+exam_id);
      xhttp.send();
    }
  </script>

{% endblock %}