  
  /* // Blog container
  //------------------------- */
  .blog-container { 
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px !important;
    font-family: monospace;
    /* font-weight: 100; */
    margin: 48px auto; 
    @media screen and (min-width: 480px) {
      width: 28rem;
    }
    @media screen and (min-width: 767px) {
      width: 40rem;
    }
    @media screen and (min-width: 959px) {
      width: 50rem;
    }
  }
  .blog-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: .25s ease;
   
  } 
  .blog-container a:hover {
      border-color: #ff4d4d;
      color: #ff4d4d;
    }
  
  /* // Blog header
  //------------------------- */
  .blog-cover { 
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
  }
  .blog-author,
  .blog-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
  }
  .blog-author h3::before,
  .blog-author--no-cover h3::before {
    /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg"); */
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
  }
  .blog-author h3 {
    color: #fff;
    font-weight: 100;
  }
  .blog-author--no-cover h3 {
    color: lighten(#333, 40%);
    font-weight: 100;
  }
  
  /* // Blog body
  //------------------------- */
  .blog-body {
    margin: 0 auto;
    width: 80%;
  }
  .video-body {
    height: 100%;
    width: 100%;
  }
  .blog-title h1 a {
    color: #333;
    font-weight: 100;
  }
  .blog-summary p {
    color: lighten(#333, 10%);
  }
  .blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }
  .blog-tags li + li {
    margin-left: .5rem;
  }
  .blog-tags a {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
  }
  
  /* // Blog footer
  //------------------------- */
  .blog-footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
  }
  .blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
  }
  .blog-footer li:first-child {
    margin-right: auto;
  }
  .blog-footer li + li {
    margin-left: .5rem;
  }
  .blog-footer li {
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    
  }
  .blog-footer li a { 
    color: lightsalmon;
  }
  .comments {
    margin-right: 1rem;
  }
  .published-date {
    border: 1px solid #999999!important;
    border-radius: 3px;
    padding: 0 .5rem;
  }
  .numero {
    position: relative;
    top: -0.5rem;
  }
  
  .icon-star,
  .icon-bubble {
    fill: lighten(#333, 40%);
    height:24px;
    margin-right: .5rem;
    transition: .25s ease;
    width: 24px;
  }
    .icon-bubble:hover {
      fill: #ff4d4d;
    }
  