{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}

{% block title %}Assessment{% endblock title %}

{% block headcontent %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
</head>
<style>
    .exam_details {
        margin-left: 5vw;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
        margin: 0;

        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .page {
        box-sizing: border-box;
        width: 100%;
        max-width: 480px;
        margin: auto;
        padding: 1rem;

        display: grid;
        grid-gap: 30px;
    }

    .linktr {
        order: -1;
        padding: 1.75rem;
        text-align: center;
    }

    .linktr__goal {
        background-color: rgb(209, 246, 255);
        color: rgb(8, 49, 112);
        box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
        border-radius: 2rem;
        padding: .5rem 1.25rem;
    }

    @media (min-width: 1024px) {

        .linktr {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
        }
    }

    .r-link {
        --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
        --uirLinkTextColor: var(--rLinkTextColor);
        --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

        display: var(--uirLinkDisplay) !important;
        color: var(--uirLinkTextColor) !important;
        text-decoration: var(--uirLinkTextDecoration) !important;
    }
</style>
{% endblock headcontent %}

{% block showuser %}
<li class="nav-item">
    <button class="btn btn-outline-dark px-3 m-1" style="text-decoration:none;" disabled>
        <img class="rounded-circle mr-1" width="22px" src="{{ user.profile_pic_url }}" style="border: 1px solid black; padding:2px;">
        {{ user.user_name }}
    </button>
</li>
{% endblock showuser %}

{% block btnurl %}
  {% if user.user_role == 't' %}
    {% url 'teacher_dashboard' %}
  {% else %}
    {% url 'student_dashboard' %}
  {% endif %}
{% endblock %}
{% block btnname %}Dashboard{% endblock btnname %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="exam_details">
            <h2 class='display-4'>{{ exam.exam_name }}</h2>
            <h4 style="font-weight: 300;">Full Marks: <b>{{ exam.marks }}</b></h4> 
            <h4 style="font-weight: 300;">Total Time: <b>0{{ exam.duration.hour }}:{{ exam.duration.minute }}</b></h4>
            <p>
                Time:
                <label id="minute_counter"></label>:<label id="second_counter"></label> 
                <br>
                Remaining Time:
                <label id="remaining_hour_counter"></label>:<label id="remaining_minute_counter"></label>:<label id="remaining_second_counter"></label>
            </p>
        </div>
    </div>

    <div class="row ml-2">
        <div class="col-sm-2 mb-1 mt-1">
            <div id="questionList" class="shadow wrapper" style="max-height: 75vh; overflow-y: auto;">
                {% for i in qno %}
                <button class="btn btn-outline-success noBtn" id="btn_{{ forloop.counter }}" style="margin: 4px ;padding: 2px;width: 25px;" onclick="loadQuestion({{ i.id }}, {{ forloop.counter }})">{{ forloop.counter }}
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-10">
            <div class="shadow wrapper" style="height: 75vh; overflow-y: auto;">
                <label>Question:</label>
                <p id="question">{{ question }}</p>
                <br>
                <label>
                    Answer:
                </label>
                <div id='editor' style="height: 200px;"></div>
                <div style="padding-top: 10px;">
                    <button type="button" id="saveAnsBtn" class="btn btn-outline-primary" onclick="saveAns()">Save Ans</button>
                    <button type="button" id="finalSubmitBtn" class="btn btn-outline-success" onclick="finalSubmit()">Final Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var questionId;
    var currentQnNo = 1;
    var maxQnNo = Number('{{ max_no }}');
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    localStorage.setItem("time",formatSave());
    var totalSeconds=0;
    function formatSave(){
        var timeDetails=new Array();
        for(var i=0;i<maxQnNo;i++){
            var obj={
                "q_id":null,
                "time_each":{
                    "minute":0,
                    "second":0
                }
            }
            timeDetails.push(obj);
        }
        return JSON.stringify(timeDetails);
    }

    function saveTimeStamp(q_index,q_id,minute,second){
        var timeDetailsObj=JSON.parse(localStorage.getItem("time"));
        var t=timeDetailsObj[Number(q_index)-1]; 
        t['q_id']=Number(q_id)
        t['time_each']['minute']=Number(minute)
        t['time_each']['second']=Number(second)
        // alert(JSON.stringify(t))
        localStorage.setItem("time",JSON.stringify(timeDetailsObj))
    }
    function fetchTime(q_index){
        var timeDetailsObj=JSON.parse(localStorage.getItem("time"));
        var t=timeDetailsObj[q_index]; 
        // console.log("index: "+q_index)
        // console.log(t)
        var min=t['time_each']['minute'] 
        var sec=t['time_each']['second']
        return [min,sec]
    }

    function saveAns(no="") {
        var question = document.getElementById("question").value;
        var answer = quill.getText();

        // total taken time for each question 
        var minute=Number(totalSeconds/60);
        var second=Number(totalSeconds%60); 
        // console.log(minute+second);

        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () { 
           if (this.responseText === "success"){
                currentQnNo+=1;
                if(no !== "")
                    currentQnNo = Number(no);

                if(currentQnNo == maxQnNo+1){
                    document.getElementById("saveAnsBtn").style.display = "none";
                    document.getElementById("finalSubmitBtn").style.display = "initial";
                    document.getElementById("finalSubmitBtn").disabled = false;
                }
                else
                    document.getElementById("btn_"+currentQnNo).click();
           }
            
        }
        xhttp.open("POST", "{% url 'tempSaveQnA' %}");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("question_id=" + questionId + "&answer=" + answer);
    }

    function loadQuestion(qno, no) {

        saveTimeStamp(currentQnNo,qno,formatting(totalSeconds/60),formatting(totalSeconds%60));
        // load timer for each question 
        totalSeconds=Number(Math.floor(fetchTime(no-1)[0]))*60+Number(fetchTime(no-1)[1]);
        // console.log(no);

        currentQnNo = no;
        if(currentQnNo < maxQnNo){
            document.getElementById("saveAnsBtn").style.display = "initial";
            document.getElementById("finalSubmitBtn").style.display = "none";
            document.getElementById("finalSubmitBtn").disabled = true;
        }
        questionId = qno;
        var userId = "{{ user.user_name }}";
        const xhttp = new XMLHttpRequest();

        xhttp.onload = function () { 
            var obj = JSON.parse(this.response);
            document.getElementById("question").innerHTML = obj["question"];
            quill.setText(obj["answer"]); 

            

        }
        xhttp.open("POST", "{% url 'fetchQnA' %}");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("user_id=" + userId + "&question_id=" + qno);
    }

    function finalSubmit() {
        saveAns(maxQnNo);
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            var flag = this.responseText;
            if (flag === '1') {
                alert("Answer Saved!");
                window.location.href = "{% url 'student_dashboard' %}";
            }
            else {
                alert("Unable to Submit!");
            }
        }
        xhttp.open("POST", "{% url 'finalAnsSubmit' %}");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send();
    }

    $(window).on("load", function(){
        document.getElementById("btn_1").click();
    })


    setInterval(loadTimeForEachQuestion,1000);
    function loadTimeForEachQuestion(){ 
      totalSeconds++;
      var second=formatting(parseInt(totalSeconds%60));
      var minute=formatting(parseInt(totalSeconds/60));
      document.getElementById("minute_counter").innerHTML=minute;
      document.getElementById("second_counter").innerHTML=second; 
      return totalSeconds;
    }

    var remainingHour=Number("{{ exam.duration.hour }}");
    var remainingMinutes=Number("{{ exam.duration.minute }}");
    var remainingSeconds=remainingHour*3600+remainingMinutes*60;
    console.log(remainingSeconds);

    setInterval(remainingTimeCounter,1000);
    function remainingTimeCounter(){
        remainingSeconds--;
        var second=formatting(parseInt(remainingSeconds%60));
        var minute=formatting(parseInt(remainingSeconds/60));
        var hour=formatting(parseInt(minute/60));
        document.getElementById("remaining_hour_counter").innerHTML=hour;
        document.getElementById("remaining_minute_counter").innerHTML=minute;
        document.getElementById("remaining_second_counter").innerHTML=second;
        return remainingSeconds;
    }

    function formatting(val){
      var str=val+"";
      if(str.length<2){
        return "0"+val;
      }
      else{
        return val;
      }
    }
</script>
{% endblock %}