{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}

{% block title %}Set Questions{% endblock title %}

{% block showuser %}
<li class="nav-item">
    <button class="btn btn-outline-dark px-3 m-1" style="text-decoration:none;" disabled>
        <img class="rounded-circle mr-1" width="22px" src={{ user.profile_pic_url }}
            style="border: 1px solid black; padding:2px;">
        {{ user.user_name }}
    </button>
</li>
{% endblock showuser %}

{% block btnurl %}
{% url 'profile' %}
{% endblock %}

{% block btnname %}Assessment{% endblock btnname %}

{% block content %}
body
{% endblock %}