{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Dashboard{% endblock title %}
{% block btnurl %}
  {% url 'profile' %}
{% endblock %}
{% block btnname %}My Profile{% endblock btnname %}
{% block headcontent %}
<style>
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
</style>
{% endblock headcontent %}

{% block content %}
<div class="container">
    <h2>Examinations</h2>
    <div class="row">
      {% for i in exam_pages %}
      <div class="col-sm-4 wrapper">
        <div class="card mb-4 shadow" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Exam {{i}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-success float-left" role="button">Attempt</a>
            <a href={% url 'result' %} class="btn btn-info float-right" role="button">View Results</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}