{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>

<style>
  .add {
    padding-top: 13%;
    padding-bottom: 13%;
    margin: auto;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
</style>

<body>
  <div class="container">
    <h2>Examinations</h2>
    <div class="row">
      <div class="col-sm-4 wrapper">
        <div class="card mb-4 shadow" style="width: 20rem;">
          <div class="card-body add">
            <a class="btn" href="{% url 'setquestion' %}">
              <img
                src="https://img.icons8.com/external-bearicons-blue-bearicons/128/000000/external-plus-essential-collection-bearicons-blue-bearicons.png" />
            </a>
          </div>
        </div>
      </div>
      {% for i in exam_pages %}
      <div class="col-sm-4 wrapper">
        <div class="card mb-4 shadow" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Exam {{i}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href={% url 'view_all_results' %} class="card-link">View Results</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>

{% endblock %}