{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>MARKS SHEET USING HTML TABLES</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="html, css, html tables, table">
    <meta name="Description" content="html table">
    <!-- add icon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="container">
        <h2>HTML TABLE</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Roll No.</th>
                    <th>{{ subject }}</th>
                <tr>
            </thead>
            <tbody>
                {% for value in details %}
                <tr>
                    <td>{{ value.name }}</td>
                    <td>{{ value.roll }}</td>
                    <td>{{ value.marks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}