{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<style>
.add {
    padding-top: 20%;
    margin: auto;
}
</style>

<body>

    <div class="ml-5">
        <div class="card mb-4" style="width: 18rem; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;">
          <div class="card-body add">
            <img src="https://img.icons8.com/external-bearicons-blue-bearicons/128/000000/external-plus-essential-collection-bearicons-blue-bearicons.png"/>
          </div>
        </div>
        </div>

    <div class="row ml-4">
    {% for i in exam_pages %}
            <div class="col">
            <div class="card mb-4" style="width: 18rem; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;">
              <div class="card-body">
                <h5 class="card-title">Exam {{i}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">View Results</a>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</body>

</html>

{% endblock %}