{% extends 'Basepage.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Dashboard{% endblock title %}

{% block showuser %}
<li class="nav-item">
  <button class="btn btn-outline-dark px-3 m-1" style="text-decoration:none;" disabled>
    <img class="rounded-circle mr-1" width="22px" src={{ profile_pic_url }} style="border: 1px solid black; padding:2px;">
    {{ user_name }}
  </button>
</li>
{% endblock showuser %}

{% block btnurl %}
  {% url 'profile' %}
{% endblock %}

{% block btnname %}My Profile{% endblock btnname %}

{% block headcontent %}
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">
    </script>
 
    <!-- Include Moment.js CDN -->
    <script type="text/javascript" src=
"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
    </script>
 
    <!-- Include Bootstrap DateTimePicker CDN -->
    <link
        href=
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet">
 
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
        </script>
<style>
  a {
    text-decoration: none;
  }

  .add {
    padding-top: 13%;
    padding-bottom: 13%;
    margin: auto;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
</style>

<script>
  function saveExamName(){
    var userId = "{{ user_name }}";
    var examName = document.getElementById("examName").value;
    var topicName = document.getElementById("topicName").value;
    var examDetails = document.getElementById("examDetails").value;
    var marks =  document.getElementById("marks").value;
    var hr =  document.getElementById("hr").value;
    var min =  document.getElementById("min").value;
    
    if(examName === "" || topicName === "")
      alert("Exam Name and Subject name is required!");

    else{
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {
        let flag = this.responseText;
        if(flag === '1')
          window.location.href = "{% url 'setquestion' %}";
        else
          alert("Exam cannot be created!");
      }
      xhttp.open("POST", "{% url 'saveExamName' %}");
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("user_id="+userId+"&exam_name="+examName+"&topic="+topicName+"&exam_details="+examDetails+"&marks="+marks+"&hr="+hr+"&min="+min);
    }

  }
</script>

{% endblock headcontent %}

{% block content %}
  <div class="container">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="examName">Exam Name:</label>
                  <input type="text" class="form-control" id="examName" required>
                </div>
                <div class="col">
                  <label for="topicName">Subject / Topic: </label>
                  <input type="text" class="form-control" id="topicName" required>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="marks">Total Marks: </label>
                  <input type="text" class="form-control" id="marks" required>
                </div>
                <div class="col">
                  <label for="duration">Hours: </label>
                  <input type="text" class="form-control" id="hr" placeholder="HH" required>
                </div>
                <div class="col">
                  <label for="duration">Minutes: </label>
                  <input type="text" class="form-control" id="min" placeholder="MM" required>
                </div>
              </div>
              <label for="examDetails">Exam Details:</label>
              <textarea class="form-control" id="examDetails" rows="3"></textarea>
            </div>
          </div>
          <p align="center">
            <button type="button" class="btn btn-primary" onclick="saveExamName()">Enter</button>
          </p>
        </div>
      </div>
    </div>

    <h2>Examinations</h2>
    <div class="row">
      <div class="col-sm-4 wrapper">
        <div class="card mb-4 shadow" style="width: 20rem;">
          <div class="card-body add">
            <button class="btn" data-toggle="modal" data-target="#exampleModal">
              <img
                src="https://img.icons8.com/external-bearicons-blue-bearicons/128/000000/external-plus-essential-collection-bearicons-blue-bearicons.png" />
            </button>
          </div>
        </div>
      </div>
      {% for i in exam %}
      <div class="col-sm-4 wrapper">
        <div class="card mb-4 shadow" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">{{ i.exam_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ i.course }}</h6>
            <p class="card-text">
              Full Marks: {{ i.marks }}<br>
              Duration: {{ i.duration }}<br>
              Description: {{ i.description }}
            </p>
            <a href={% url 'view_all_results' %} class="btn btn-info float-right" role="button">View Results</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
    $('#duration').datetimepicker({
      format: 'hh:mm'
    });
  </script>

{% endblock %}