/* @import url('https://fonts.googleapis.com/css?family=Roboto');   */
/* @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
 body {
   background: #f6e2bc;
   box-sizing: border-box;
   font-family: monospace;
}
.navbar {
    margin-top: 2px;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(35,78,212);
    background: -moz-linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    background: linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234ed4",endColorstr="#355ee2",GradientType=1);
    
    height: fit-content;
    margin: 0px;

    padding: inherit;

}
.navbar h1{
    color: whitesmoke;
}
ul.navbar-nav {
    margin: 0px;
}
li.nav-item.right.py-0.px-0 {
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
} 
.navContainer{
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 4px;
    margin: 1px;
    padding-top:0px;

    width: 100%;
    height: 50px;
}

.navbar-toggler{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar-toggler img{
    height: 2rem;
}

.navbar-nav{
    right: 0px;
}
body{ 
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
   
*/ 

/* Media Query for low resolution  mobs */
@media (min-width: 300px) and (max-width: 767px) {
    .showOtherPost{
        width:100%;
    }
    .starCard{
        width:100%;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    
}


/* tag */





.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  
} 
.md-chip.md-chip-hover:hover {
    background: #ccc;
  }

.md-chip-clickable {
 cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: 32px;
  line-height: 32px;
}

.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
  
} .md-chip-remove  :after { 
    color: #e0e0e0;
    content: 'x';
  }

  .md-chip-remove  :hover {
    background: #999;
  }
  .md-chip-remove  :active {
    background: #777;
  }

.md-chips {
  padding: 12px 0;
  
}.md-chip {
    margin: 0 5px 3px 0;
  } 

.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


input[type="checkbox"] {
  display: none;
}

/* input[type="checkbox"] + label {

} */


input[type="checkbox"]:checked + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #1579b3; color: white; border-color:#fc6c27;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.tags
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


 .position-static a.deactivate{
  pointer-events: none;
  cursor: default;
  color: black;
 }

 .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.col ul li {
  float: left;
  padding: 0px;
  margin: 0px;
}

.col ul li label{
  pointer-events: none;
  cursor: text;
}


/* admin lte style change */

#changelist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}


/* confirm pass */ 
 
.form-style-10{ 
  width: 70%;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}
.form-style-10 .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.form-style-10 button, 
.form-style-10 button{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.form-style-10 button:hover, 
.form-style-10 button:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
} 


.fade:not(.show) {
  opacity: 1;
}




/* @import url('https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i'); */

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}



section.cards {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 256px);
  grid-template-rows: repeat(12, 196px);
  grid-gap: 16px;
}

.card {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  transition: all 0.25s ease;
}

.card:hover {
  transform: scale(1.05);
}

.vertical {
  flex-direction: column;
  grid-row: span 2;
  grid-column: span 1;
}

.horizontal {
  flex-direction: row;
  grid-row: span 1;
  grid-column: span 2;
}

.reverse-horizontal {
  flex-direction: row-reverse;
  grid-row: span 1;
  grid-column: span 2;
}
 

.horizontal .card__img, .reverse-horizontal .card__img {
  height: 100%;
}

.vertical .card__img {
  width: 100%;
}
.card__content {
  padding: 16px;
}

.card__type {
  font-variant: small-caps;
  letter-spacing: 2px;
  opacity: 0.9;
  color: palevioletred;
  padding-bottom: 0.5em;
}

.card__title {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 700;
  padding-bottom: 0.5em;
  transition: all 0.25s ease;
}

.card__date {
  font-size: 14px;
  padding-bottom: 0.5em;
  opacity: 0.3;
}

.card__time-to-read {
  font-style: italic;  
}

.card__excerpt {
  font-size: 16px;
  padding-bottom: 0.5em;
}

.card__tags {
  margin-top: auto;
}

.tag {
  display: inline;
  background: papayawhip;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 12px;
  color: palevioletred;
  user-select: none;
  cursor: pointer;
}

.tag:hover {
  background: darken(papayawhip, 5%);
}

.tag:active {
  background: darken(papayawhip, 10%);
}

.tag i {
  margin-right: 4px;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/* blog card design */
